.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1.5rem;
    font-weight: 500;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-transform: capitalize;
}
.navbar li{ 
    float: left;
}
.navbar {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pagination {
    margin-top: 20px;
    text-align: right;
    float: right;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid #007bff;
    border-radius: 5px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
}

.pagination a:hover {
    background-color: #007bff;
    color: white;
}
.hero{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}
article h1{
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    color: #171716;
}
.article h1:after{
    content: "";
    height: 3px;
    width: 225px;
    background-color: #040404;
    display: block;
    margin: auto;
}
